<h2>About LABX</h2>
<hr />
<p>UCLA LABX is a student-run group at UCLA. Our goal is to produce a range of theoretical and experimental research in machine learning. We're primarily focused on the intersection of machine learning and computer science.</p>

<h2>Projects</h2>
<hr />
<ul>
    <li><a href="https://github.com/ucla-labx/distbelief">DistBelief</a>
      - An implementation of asynchronous SGD for PyTorch. Read more about our implementation <a href="https://jcaip.github.io/Distbelief/">here</a>.
  </li> 
  <li><a href="https://ucla-labx.github.io/deeplearningbook-notes/">Deep Learning Book Notes</a>
       - A collection of notes for the <a href="http://www.deeplearningbook.org/">deep learning book</a>.
  </li>
</ul>

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/ucla-labx">GitHub</a>
  </li>
</ul>

<h2>Members</h2>
<hr />
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://jcaip.github.io">Jesse Cai</a>
  </li>

  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://rohanvarma.me">Rohan Varma</a>
  </li>
</ul>

<p> If you're a student at UCLA and interested in joining, please reach out to one of us.</p>

